* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
	width: 100%;
	height: 100vh;
	background-color: #3333;
	position: relative;
}

.mainSection {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 400px;
	box-sizing: border-box;
	padding: 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #3335;
}

.mainSection img {
	width: 100%;
	height: 240px;
}

.mainSection input, .mainSection button {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #3335;
	border-radius: 10px;
	font-size: 16px;
	text-align: center;
	outline: none;
	margin-top: 10px;
}

.mainSection button {
	cursor: pointer;
	background-color: #ff0000c2;
	color: #fff;
}
.mainSection button:active {
	background-color: red;
}